html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 35px;
}
h2, h3{
    font-weight: 400;
}
p, ul li{
    color: gray;
    font-size: 18px;
    line-height: 1.8;
}
.btn{
    background-color: black;
    color: wheat;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.btn:hover{
    border: 1px solid black;
    background-color: white;
     color: black;
}
.color-bar{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #FF9C35, #FFD019);
}
.navbar .logo{
    height: 70px;
}
.navbar .nav-link{
    margin: 0 10px;
    color: gray;
}

/* Carousel Section */

.banner{
    background-image: url(images/dooted-qube.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 7%;
}
.carousel-item{
    background-image: url(images/product-text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
    padding-bottom: 50px;
}
.carousel-item p{
    padding-bottom: 20px 0;
}
.carousel-indicators li{
    background-color:  #CECECE;
    height: 8px;
    width: 18px;
    border-radius: 5px;
    border: none;
}
.carousel-indicators .active{
    background-image: linear-gradient(to right, #FF9C35, #FFD019);
    width: 50px;
}

/* Product Section */

.cat-title a{
    color: orange;
}
.card {
    border: none;
    box-shadow: 0px 5px 20px ;
    border-radius: 10px;
}
.card img{
    padding-top: 20px;
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.smartphone, .laptop{
    padding-top: 60px;
}
.category{
    padding-top: 100px;
}
.single-cat {
    cursor: pointer;
    text-align: center;
    border-radius: 20px 5px;
}
.single-cat:hover {
    transform: translateY(-10px);
    transition: .5s ease-in-out;
}
.single-cat a h4{
    color: #2c2c2c;
    margin-top: 8px;
  }

  /* === Start About Section === */
.about {
    padding: 110px 0;
  }
  
  .about img {
    width: 150px;
  }
  
  .about h3 {
    padding-left: 20px;
    padding-bottom: 10px;
  }
  
  .about ul li {
    padding: 5px 0;
  }

  /* Contact Section  */
.contact {
    padding: 100px 0;
    background-color: #F7EDE1;
  }
  
  .contact h3 {
    padding-bottom: 20px;
  }
  
  .contact .fas {
    width: 50px;
    height: 50px;
  }

  /* === Start Footer Section === */
.footer {
    background-color: #F7EDE1;
    padding-top: 10px;
  }
  
  .footer img {
    width: 115px;
  }
  
  .footer p, .footer a {
    font-size: 15px;
    color: #707070;
  }
  
  .footer a:hover {
    color: #FF9D00;
  }
  
  .social-media li a {
    display: block;
    text-align: center;
    width: 27px;
    height: 27px;
    background-color: #000000;
    border-radius: 50%;
  }
  
  .social-media .fab{
    color: #FFF;
    width: 15px;
    height: 15px;
  }
  
  .social-media a:hover {
    background-image: linear-gradient(to left, #FF9C35, #FFD019);
  }
  /* === End Footer Section === */
  
  /* === Start Media Queries === */
  @media screen and (max-width: 480px) {
    .contact {
      padding: 50px 0;
    }
    .about {
      padding-bottom: 50px;
    }
  }